/* cc for element */
form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

/* css className */
.force-row{
  display: flex;
  flex-flow: row nowrap;
}